snippet pr
print(${1})
endsnippet

snippet if
if ${1}:
	${2}
endsnippet


snippet elif
elif ${1}:
	${2}
endsnippet


snippet else
else:
	${1}
endsnippet

snippet ife
if ${1}:
	${2}
else:
	${3}
endsnippet

snippet fi
for i in range(${1}, ${2}):
	${3}
endsnippet

snippet inp
input(${1})
endsnippet
